<!DOCTYPE html>
<html>
  <head>
    <title> Quick Quotes </title>
    <link rel = "stylesheet" type = "text/css" href = "../style.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head> 
  
  <body>
  <body background = "http://u.kanobu.ru/comments/images/92025b04-c980-46da-8859-66f64c997468.jpg">
    <h1 class = "text"> Quick Quotes </h1>
   
    <form action = "/results" method = "post">
    <select name="topics" class = "drop">
      <option selected="true" style="display:none;">Select topic</option>
      <option value="Life">Life</option>
      <option value="Sad"> Sad</option>
      <option value="Motivational"> Motivational</option>
      <option value="Education"> Education </option>
      <option value="none"> none </option>
      </select>
    
    <select name="people" class = drop>
      <option selected="true" style="display:none;">Select author</option>
      <option value="Albert Einstein">Albert Einstein</option>
      <option value="John F. Kennedy"> John F. Kennedy</option>
      <option value="Confucius">Confucius</option>
      <option value="Mahatma Gandhi">Mahatma Gandhi</option>
      <option value="none"> none </option>
      </select>
  
    <input type="submit" value="Submit">
  </form>
    
  </body>
</html>