<!DOCTYPE html>

<html>
  <head>
    <title> Quick Quotes </title>
    <link rel = "stylesheet" type = "text/css" href = "../style.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="https://cdn2.iconfinder.com/data/icons/aspneticons_v1.0_Nov2006/edit_16x16.gif">
  </head>
  
  <body background = "http://u.kanobu.ru/comments/images/92025b04-c980-46da-8859-66f64c997468.jpg">
    <h1 class = "text"> Quick Quotes </h1>
<!--   <h2> Topic: <%=@topics%> </h2>
  <h2> Person: <%=@people%> </h2>
     -->
    <center><table border = 1 style="width:80%">
      <tr>
        <th>Quote</th>
        <th>Author</th> 
      </tr>
      <tr>
        <td> <%=@quote1.quotes.keys[0] %> </td>
        <td> <%=@quote1.author("If music be the food of love, play on.").capitalize%></td>		
      </tr>
      <tr>
        <td>Quote</td>
        <td>Author</td>		
      </tr>
      <tr>
        <td>Quote</td>
        <td>Author</td>		
      </tr>
       <tr>
        <td>Quote</td>
        <td>Author</td>		
      </tr>
       <tr>
        <td>Quote</td>
        <td>Author</td>		
      </tr>
      </table></center>
    <a href="http://ey100101-pc-15-precollege-se1-nyfl-070615-2-110751.nitrousapp.com:9393/"><h3> &lt&lt Search again </h3></a>
  </body>
</html>