<!DOCTYPE html>
<html>
  <head>
    <title> Quick Quotes </title>
    <link rel = "stylesheet" type = "text/css" href = "../style.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head>
  
  <body background = "http://u.kanobu.ru/comments/images/92025b04-c980-46da-8859-66f64c997468.jpg">
  <h1 class = "text"> Quick Quotes </h1>
<!--   <h2> Topic: <%=@topics%> </h2>
  <h2> Person: <%=@people%> </h2> -->
    
    
  <table style="width:100%">
    <tr>
      <h2> Quote                              Author </h2> 
      <td>Jill</td>
      <td>Smith</td>		
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>		
    </tr>
    <tr>
      <td>John</td>
      <td>Doe</td>		
    </tr>
  </table>
    
  </body>
</html>